<img class="single-country__flag" src="{{flags.svg}}" alt="flag">
<p class="single-country__name">{{name.official}}</p>
<p class="options">Capital: <span class="value">{{capital}}</span></p>
<p class="options">Population: <span class="value">{{population}}</span></p>
<p class="options">Languages: <span class="value">{{objValues languages}}</span></p>
